body {
  background: #111;
  color: white;
}

p {
  font-size: 20px;
}

.container {
  width: 80%;
  position: relative;
  max-width: 1450px;
  margin: 0 auto;
  box-sizing: border-box;
  color: white;
}

.column .columns {
  margin-left: 40%;
}

@media (min-width: 550px) {
  .header {
    padding-top: 60px;
    position: inline;
    width: 100%;
    z-index: 9999;
  }
}

@media (min-width: 550px) {
  .four.columns {
    width: 30.6666%;
  }
}

.header .menu {
  text-align: center;
}

.header .contact {
  text-align: right;
}

.header .contact a {
  margin-left: 20px;
}

.header a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.header a:hover {
  color: #0f6bd7;
}

.about-content {
  padding: 200px 0 100px 0;
  text-align: left;
}

.footer {
  padding: 60px 0;
  font-size: 18px;
}

.footer .social {
  text-align: right;
}

.footer .social a {
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
}

@media (media-width: 550px) {
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
}
