* {
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
	background-color: #1d1d1d;
}
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #7c2929;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    .menu {
      width:67%;
      -webkit-align-items: center;
    }
    #secondary { width:30%; margin-left:3%;}
}

body {
  font-family: sans-serif;

}

img { max-width: 100%; }

html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.3rem;} }
@media (min-width:1100px) { body {font-size:1.2rem;} }

header {
  background-image: url(/images/blur.jpg);
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  margin-bottom: 50px;
  display: block;
  font-family: "Droid Sans";
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


section {
  max-width: 100%;

}
p {
  font-family: "Droid Sans";
}

.text {
	text-align: -webkit-center;	
}

.pic {
  margin-top: 10px;
  height: 300px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-size: 60px
}

.author {
  text-align: center;
}

.nav-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.blog-post {
  max-width: 100vw;
  padding: 13px;
}



.nav-list li {
  display: inline;
}

.nav-list li a {
  padding: 0 15px;
  font-size: 20px
}

.head-title {
  margin-top: 30px;
  text-align: center;
  font-size: 2em;
  font-family: "Roboto Slab";
}

.date {
  text-align: center;
  font-family: "Robot Slab";
  font-weight: 100;
  color: #a6a6a6;
}

.row {
  max-width: 90vw;
  text-align: -webkit-center;
}

.content:hover {
  background-color:rgba(179, 178, 176, 0.41) ;
  transition: 490ms;
  cursor: pointer;
}

.main-title {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  font-size: 100px;
  color: white;
  border: 4px solid transparent;
  border-radius: 10px;
}


footer {
  background-color: #3c3b3f;
  color: white;
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: 3em;
}
.contact-info {
  font-size: 14px;
  margin-top: 20px;
}

.social li {
  display: inline;
  margin-right: 10px;
  margin-left: 0px;
  text-decoration: none;
}
.social {
  margin-left: 0;
}


.social-info {
  margin-top: 20px;
}

.all{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}
@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
