doctype html
html
    head
        meta(charset='utf-8')
        title idk
        meta(name='viewport', content='width-device-width, initial-scale=1')
        link(rel='stylesheet', href='css/blog-post1.css')
        link(rel='stylesheet', href='css/restive.css')
        link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Nunito', re='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Arvo', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Pt+Sans', rel='stylesheet', type='text/css')
    body
        header
            .header-content
                .title
                    h1 This is Difficult
                .author-name
                    h5 Shaheer Saif 
        #container
            .content
                p
                    |The activity that I chose for my passion project is learning how to make interactive 3d graphics on the web. My plan is to create short but fun interactive 3d graphic on the web, but do not expect anyting mindblowing because creating 3d graphics on the web is much harder than I thought.
                p      
                    | I will measure my progress by the completion of specfic parts of the animation for example completing a 3d character or successfully making an object react to mouse movement. So far I have watch many videos and tutorials and created a rotating cube that is not interactive, but I did create interactive particles that react to the movement of your mouse. It was actually quite difficult to do because althougth it was the same coding language ("java script") it was different because I had to use a different *library called three js which had new syntax that I have to learn. 
                P   
                    | From 1-2 week from now I will create multiple small web animations and start working on a larger animation. From 3 - 6  weeks now I will continue on the larger/more complex animation by drawing out how it is going to look like and act like. I hope to follow this timeline, if does not work out I will just focus on creating smaller scale interactive 3d graphics.|I decided to do this activity because it combines two of the things I love: code and artistic freedom. Achieving this goal is important to me because I have always wanted create something something like but did not have the time to invest in it. Now that I do have the time and motivation. Thank You. 
                br
                p    
                    |* A JavaScript library is a library of pre-written JavaScript which allows for easier development of JavaScript-based applications

       footer
        .footer-inner
          .contact-info
            h3 Contact: shaheersaif123@gmail.com
          .social-info
            h5 Follow me on:
            ul.social
              li 
                a(href='https://www.facebook.com/profile.php?id=100009695438758') Facebook
              li 
                a(href='https://twitter.com/shaheer_saif') Twitter
              li 
                a(href='https://www.instagram.com/shaheer_27/') Instagram
                  
            

        script(type='text/javascript', src='js/jquery-2.1.3.min.js')
        script(type="text/javascript", src="js/restive.min.js")

        script(src='/js/blog-post1.js')
